@font-face {
  font-family: "Euclid Cicular";
  src: url(../assets/fonts/Euclid\ Circular\ A\ Light.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Euclid Circular";
  src: url(../assets/fonts/Euclid\ Circular\ A\ Medium.ttf);
  font-weight: 600;
}

@font-face {
  font-family: "Euclid Circular";
  src: url(../assets/fonts/Euclid\ Circular\ A\ Regular.ttf);
  font-weight: 500;
}
