main {
  .heroSection {
    .heroSectionMain {
      .heroSwiper {
        .swiperContainer {
          .container {
            box-sizing: border-box;
            width: 100%;
            max-width: 160rem;
            margin-inline: auto;
            padding-inline: clamp(2rem, 5vw, 6rem);
            .heroContent {
              z-index: 1;
              flex-direction: column;
              justify-content: space-around;
              gap: 6rem;
              width: 100%;
              height: 80%;
              display: flex;
              position: absolute;
              top: 9.2rem;
            }
          }
        }
      }
    }
    .autoPlayProgress {
    }
  }
}

.hero-swiper {
  img {
    height: auto;
    object-fit: cover;
    width: 100%;
    height: 57.6rem;
    flex-shrink: 0;
  }
}
